/************ TAG SELECTORS ************/
body {
  background-color: #fffafa;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  font-size: 80px;
  font-family: 'Sacramento', cursive;
  margin-top: 20px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}

div {
  margin: 0 auto 0 auto;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #cdffeb;
}

hr {
  width: 5%;
  border: none;
  border-top: 6px dotted #c5c5c5;
  margin: 60px auto 60px auto;
}

/************ CLASS SELECTORS ************/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

/* .middle-container {} */
.bottom-container {
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
}

.pro {
  text-decoration: underline;
}

.sylwia {
  height: auto;
  width: 10%;
  margin-top: 50px;
}

.programmer {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.chilli-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile p {
  width: 30%;
  margin: 0 auto 0 auto;
}

.butn {
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #2980b9);
  background-image: -moz-linear-gradient(top, #11999E, #2980b9);
  background-image: -ms-linear-gradient(top, #11999E, #2980b9);
  background-image: -o-linear-gradient(top, #11999E, #2980b9);
  background-image: linear-gradient(to bottom, #11999E, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: sans-serif;
}

.butn:hover {
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #11999E);
  background-image: -moz-linear-gradient(top, #2980b9, #11999E);
  background-image: -ms-linear-gradient(top, #2980b9, #11999E);
  background-image: -o-linear-gradient(top, #2980b9, #11999E);
  background-image: linear-gradient(to bottom, #2980b9, #11999E);
  text-decoration: none;
}

.contact-me {
  margin-bottom: 25px;
}

.icon-credit {
  font-size: 10px;
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px 0;
}